
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Sample JSON Data and send it to controller</title>
</head>
<body>
    <div>
        <label>Create Sample User JSON Data and send it to controller</label><br /><br />
        <input type="button" id="btnUpdateUserDetail" value="Update User Detail" onclick="UpdateUserDetail();" />
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script lang="en" type="text/javascript">
    function UpdateUserDetail() {
        var usersJson = GetSampleUsersList();
        //var getReportColumnsParams = {
        //    "usersJson": usersJson
        //};
        var jsonObjects = [
            { id: 1, name: "amit" },
            { id: 2, name: "ankit" },
            { id: 3, name: "atin" },
            { id: 4, name: "puneet" }];

        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/JsonDemo/Update',
            context: document.body,
            dataType: 'json',
            data: { "usersJson": JSON.stringify(usersJson) },
            success: function (result) {
                alert(result);
            },
            error: function (xhr) {
                //debugger;
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }
    function GetSampleUsersList() {
        var userDetails = {};
        var usersList = [];
        //for (var i = 1; i <= 2; i++) {
        //    userDetails["UserId"] = i;
        //    userDetails["UserName"] = "User- " + i;
        //    userDetails["Company"] = "Company- " + i;
        //    usersList.push(userDetails);
        //}
        userDetails["UserId"] = 1;
        userDetails["UserName"] = "User- " + 1;
        userDetails["Company"] = "Company- " + 1;
        usersList = [userDetails];

        userDetails["UserId"] = 2;
        userDetails["UserName"] = "User- " + 2;
        userDetails["Company"] = "Company- " + 2;
        usersList.push(userDetails);

        userDetails["UserId"] = 3;
        userDetails["UserName"] = "User- " + 3;
        userDetails["Company"] = "Company- " + 3;
        usersList.push(userDetails);

        return usersList;
    }
</script>  