@using JsonResultDemo.Models
@model IEnumerable<UserModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatedList</title>
</head>
<body>
    <div class="container">
        <h3>updated users</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.UserName</td>
                        <td>@user.Company</td>
                    </tr>
                }
            </tbody>
        </table>
        @*<a class="btn btn-warning btn-sm" href="/Products/Create">Create</a>*@
    </div>
</body>
</html>
